
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

body {
  @apply bg-surface-subtle text-textPrimary antialiased;
}

img {
  max-width: 100%;
}

::selection {
  @apply bg-primary-subtle-active text-primary-active;
}

.app-surface {
  background: #f8fafc;
}
